@{
    Layout = "~/Views/Shared/_Admin_global_Layout.cshtml";

}

@section style {
    <link rel="stylesheet" href="~/vendor/css/pages/page-auth.css">
    @await RenderSectionAsync("Style", required: false)

}
<!-- Content -->

<div class="authentication-wrapper authentication-cover authentication-bg">
    <div class="authentication-inner row">
        <!-- /Left Text -->
        <div class="d-none d-lg-flex col-lg-7 p-0">
            <div class="auth-cover-bg auth-cover-bg-color d-flex justify-content-center align-items-center">
                @await RenderSectionAsync("SideImg", required: false)


            </div>
        </div>
        <!-- /Left Text -->
        <!-- Form Details -->
        @await RenderSectionAsync("FormContent", required: false)


        <!-- /Form Details -->
    </div>
</div>

<!-- / Content -->
@RenderBody()
@section Scripts {
    <link rel="stylesheet" href="~/vendor/css/pages/page-auth.css">
    @await RenderSectionAsync("Scripts", required: false)

}
